.container{
    text-align: center;
    margin-top: 150px;
}

#searchBar{
    width: 584px;
    height: 44px;
    border: 1px solid #d7dee6;
    border-radius: 30px;
    
}

.searchBtn{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}